Package: minimega
Version: 2.6~phenix0-0
Section: utils
Priority: extra
Architecture: amd64
Depends: qemu-kvm, qemu-utils, openvswitch-switch, dnsmasq, dosfstools, ntfs-3g, libpcap0.8
Maintainer: Jonathan Crussell <jcrusse@sandia.gov>, David Fritz <djfritz@sandia.gov>, Bryan Richardson <bryan@activeshadow.com>
Description: a distributed VM management tool.
 minimega is a tool for launching and managing virtual machines. It can run on
 your laptop or distributed across a cluster. minimega is fast, easy to deploy,
 and can scale to run on massive clusters with virtually no setup.
 .
 This version also includes a new orchestration application named phenix.
